* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

// buttons
button {
    background-color: #17969C;
    color: #fff;
    font-weight: 100;
    border: none;

    &[disabled] {
        background-color: #ddd;
    }
}

.icon-button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(150, 150, 150, 0.2);
    }
}

.btn {
    text-decoration: none;
    box-shadow: 0 0 0 1px inset grey;
    color: grey;
    margin: 8px 0;
    display: inline-block;

    &:hover {
        box-shadow: 0 0 0 1px inset black;
        color: black;
    }
}

button, .btn {
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 8px 12px;
    margin-right: 4px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #555;
}