@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200), // The primary color of your application
  accent: md-get-palette-color(red, A200), // The accent or secondary color
  theme: light // This can be dark or light
));

@import "~vue-material/dist/components/MdButton/theme";
@import "~vue-material/dist/components/MdDialog/theme";
@import "~vue-material/dist/components/MdTabs/theme";
@import "~vue-material/dist/components/MdField/theme";