@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(teal, 500), // The primary color of your application
  accent: md-get-palette-color(grey, 500), // The accent or secondary color
  theme: light // This can be dark or light
));

@import "~vue-material/dist/theme/all";