rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        
        function isAuth() {
            return request.auth != null
        }

        function isAdmin() {
            return isAuth() && 
            (request.auth.uid == '1bOAvkBFV1St3ekuxydGxNlqIGM2'
            || request.auth.uid == 'pUWeCV6FFFfikjLyo6KTuxayrzZ2'
            || request.auth.uid == 'Pv3IEvvuYONvSjNl630Tap0ERGN2')
        }

        // lock access for all documents
        match /{document=**} {
            allow read, write: if false;
        }

        match /mails/{mail} {
            allow read: if isAdmin()

            // Only valid emails
            allow create: if 
                request.resource.data.mail.matches('.+@.+\\.[a-z]+')

            // unsubscribe
            allow delete: if isAuth()
                && resource.data.mail == request.auth.token.email
        }
        
        match /magazines/{magazine} {
            allow read: if true
            allow write: if isAdmin()
        }
    }
}