rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mails/{mail} {
      allow read: if false

      // Only valid emails
      allow write: if 
          request.resource.data.mail.matches('.+@.+\\.[a-z]+')
    }
    
    match /magazines/{magazine} {
      allow read: if true

      allow write: if false
    }
  }
}