rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {

        function isAuth() {
            return request.auth != null
        }

        function isAdmin() {
            return isAuth() && 
            (request.auth.uid == '1bOAvkBFV1St3ekuxydGxNlqIGM2'
            || request.auth.uid == 'pUWeCV6FFFfikjLyo6KTuxayrzZ2'
            || request.auth.uid == 'Pv3IEvvuYONvSjNl630Tap0ERGN2')
        }

        // lock all access
        match /{allPaths=**} {
            allow read, write: if false;
        }

        // allow read magazine
        // allow write only for admin
        match /magazines/{pdf} {
            allow get: if isAuth()
            allow list, delete: if isAdmin()
            allow create, update: if isAdmin()
                && request.resource.size < 125 * 1024 * 1024
                && request.resource.contentType.matches('application/pdf')
        }

        // allow write images
        match /images/{image} {
            allow get: if true
            allow list, update, delete: if false
            allow write: if isAuth()
                && request.resource.size < 0.5 * 1024 * 1024
                && request.resource.contentType.matches('image/.*')
        }
    }
}