.fm-promotion-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background-color: #eee;

    &__logo {
        height: 48px;
        width: 48px;
        margin: 12px;
        padding: 6px;
        border-radius: 8px;
        background-color: #fff;
    }

    &__text {
        margin-right: 8px;
        max-height: 56px;
        overflow-y: scroll;

        p {
            margin: 0;
            white-space: break-word;
        }
    }
}

.fm-horizontal-banners {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        height: 0px;
    }

    &__slide {
        display: inline-block;
        width: 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        img {
            width: 100%;
            aspect-ratio: 1920 / 150;
            object-fit: cover;
            border: 1px solid #bbb;
        }

        @media screen and (max-width: 750px) {
            img {
                aspect-ratio: 742 / 150;
            }
        }
    }

    &__progress {
        position: sticky;
        margin-top: -2px;
        bottom: 0;
        top: 100%;
        left: 0;
        right: 0;
        
        &-bar {
            display: none;
            height: 2px;
            background: #000;
            opacity: 0.6;
            mix-blend-mode: screen;

            &.js-animated {
                display: block;
                animation: fm-horizontal-banners-progress 8s ease-out infinite;
            }
        }
    }
}

@keyframes fm-horizontal-banners-progress {
    from {
        width: 0%;
    }
    
    to {
        width: 100%;
    }
}