// buttons
.fm-button {
    display: inline-flex;
    margin: 8px 0;
    margin-right: 4px;
    padding: 8px 12px;
    height: fit-content;
    border: none;
    color: #fff !important;
    background-color: $primary;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    font-family: $fonts;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 20px;

    &:hover {
        text-decoration: none !important;
        background-color: $primary-dark;
    }

    &:focus {
        outline: auto;
        outline-style: solid;
        outline-color: $primary-dark;
        outline-offset: 2px;
        outline-width: 2px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    }

    &[disabled] {
        pointer-events: none;
        background-color: rgba(150, 150, 150, 0.2);
    }

    // styles
    @mixin --flat {
        background-color: transparent;
        color: #000 !important;

        &:hover {
            background-color: rgba(150, 150, 150, 0.2);
        }

        &:focus {
            outline-color: #000;
        }

        &:disabled {
            background-color: transparent;
            color: #999 !important;
        }

        i {
            color: #000 !important;
        }
    }

    &--flat {
        @include --flat;
    }

    &--outlined {
        @include --flat;

        box-shadow: 0 0 0 1px #000 inset;
    }

    // sizes
    &--large {
        padding: 12px 16px;
    }

    &--square {
        padding: 12px;
        width: 48px;
        height: 48px;
    }

    &--full {
        width: 100%;
        justify-content: center;
    }

    &--grey {
        box-shadow: 0 0 0 2px #000 inset;
        background-color: rgba(255, 255, 255, 0.7);

        i {
            color: #888;
        }
    }

    &--fab {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);

        i {
            color: #000;
        }

        &:hover {
            background-color: #eee;
        }

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 18px !important;
        height: 18px;
        color: #fff !important;

        &--right {
            margin-left: 4px;
        }

        &--left {
            margin-right: 4px;
        }
    }
}

.fm-button-bloc {
    padding: 32px;
    background: #eee;
    display: grid;
    place-items: center;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        border: 1px dotted #999;
    }

    i {
        display: block;
        color: #666;
        font-size: 28px;
    }

    &__label {
        display: block;
        color: #555;
    }
}