.fm-card {
    margin: 16px 0;

    &__body {
        position: relative;
        background-color: #f4f4f4;
        padding: 24px 16px;
        width: -webkit-fill-available;

        &-category {
            display: block;
            margin-bottom: 16px;
            color: #1a1a1a !important;
            text-transform: uppercase;
            font-weight: 600;
            user-select: none;

            &--breaking {
                color: #db2f27 !important;
            }
        }

        &-title {
            font-weight: 600;
            margin-top: 0;
            font-size: 32px;
            line-height: 30px;

            &--small {
                letter-spacing: -0.75pt;
                font-size: 24px;
            }
        }

        &-content {

        }

        &-date {
            position: absolute;
            bottom: 24px;
            color: #888;
        }

        &--date {
            padding-bottom: 56px !important;
        }

        &--responsive {
            width: -webkit-fill-available;
        }
    }

    &--img &__img {
        overflow: hidden;
        pointer-events: none;
        background-color: #555;

        &--left, &--right {
            display: inline-flex;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 350ms cubic-bezier(0,.6,0,.6), filter 350ms ease;
        }

        &--small {
            height: 240px;
            width: 100%;
        }
    }

    &--full-width {
        display: flex;
        width: 100%;

        .fm-card__body {
            padding: 36px 48px;
        }
    }

    &--medium {
        width: 350px;
        
        .fm-card__img {
            height: 150px;

            img {
                width: 100%;
            }
        }

        .fm-card__body {
            height: 200px;

            &-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-content p {
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }

    &:hover {
        text-decoration: none !important;

        img {
            transform: scale(1.05);
            filter: brightness(0.9);
        }
    }

    &[disabled] {
        pointer-events: none;
        cursor: not-allowed !important;
        opacity: 0.5;
    }

    @media screen and (max-width: 900px) {
        display: block;

        &--img &__img {
            display: block;
            width: 100%;
            height: 250px;
            
            img {
                width: fit-content;
                object-fit: cover;
            }

            &--limited-height {
                max-height: 320px;
    
                img {
                    width: 100%;
                }
            }
        }

        &__body {
            width: 100%;
            padding: 24px !important;
        }
    }
}