$card-bg-color: #f4f4f4;

.fm-card {
    margin: 16px 0;

    &__body {
        position: relative;
        background-color: $card-bg-color;
        padding: 24px 16px;
        width: -webkit-fill-available;

        &-category {
            display: block;
            margin-bottom: 16px;
            color: #1a1a1a !important;
            text-transform: uppercase;
            font-weight: 600;
            user-select: none;

            &--breaking {
                color: #db2f27 !important;
            }
        }

        &-title {
            font-weight: 600;
            margin-top: 0;
            font-size: 32px;
            line-height: 30px;

            &-icon {
                font-size: inherit !important;
                vertical-align: bottom !important;

                &--colored {
                    color: $primary;
                }
            }

            &--small {
                letter-spacing: -0.75pt;
                font-size: 24px;
            }
        }

        &-date {
            position: absolute;
            bottom: 24px;
            color: #888;
        }

        &-date-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 24px;
            padding-top: 56px;
            background: $card-bg-color;
            background: linear-gradient(0deg, #{$card-bg-color} 65%, rgba(0,0,0,0) 100%);

            &-text {
                color: #888;
            }
        }

        &--date {
            padding-bottom: 56px !important;
        }

        &--responsive {
            width: -webkit-fill-available;
        }
    }

    &--img &__img {
        overflow: hidden;
        pointer-events: none;
        background-color: #fff;

        &--left, &--right {
            display: inline-flex;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 300ms ease, opacity 150ms ease;
        }

        &--small {
            height: 240px;
            width: 100%;
        }
    }

    &--full-width {
        display: flex;
        width: 100%;

        .fm-card__body {
            padding: 36px 48px;
        }
    }

    &--medium {
        width: 350px;
        
        .fm-card__img {
            height: 150px;

            img {
                width: 100%;
            }
        }

        .fm-card__body {
            height: 200px;

            &-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-content p {
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }

    &--unavailable {
        .fm-card {
            &__body {
                cursor: default;
                pointer-events: none;
                user-select: none;
                background: #fef7e0;
                border-bottom: 2px solid #b05a00;
                opacity: 0.3;
    
                &-title {
                    color: #b05a00;
                }
            }

            &__legend {
                color: #b05a00;

                .md-icon {
                    color: #b05a00;
                    font-size: 20px !important;
                    vertical-align: sub;
                }
            }
        }
    }

    &:hover {
        text-decoration: none !important;

        img {
            transform: scale(1.05);
            opacity: 0.7;
        }
    }

    &[disabled] {
        pointer-events: none;
        cursor: not-allowed !important;
        opacity: 0.5;
    }

    @media screen and (max-width: 900px) {
        display: block;

        &--img &__img {
            display: block;
            width: 100%;
            height: 250px;
            
            img {
                width: fit-content;
                object-fit: cover;
            }

            &--limited-height {
                max-height: 320px;
    
                img {
                    width: 100%;
                }
            }
        }

        &__body {
            width: 100%;
            padding: 24px !important;
        }
    }
}