.fm-textfield {
    display: flex;

    &__input {
        height: 48px;
        width: 250px;
        padding: 0 16px;
        background-color: transparent;
        border: 1px solid #595959;

        &--full-width {
            width: 100%;
        }

        &:focus {
            border-color: transparent;
            outline: auto;
            outline-style: solid;
            outline-color: $primary-dark;
            outline-offset: 0px;
            outline-width: 2px;
        }
    }

    &--button &__button {
        height: 48px;
        width: 48px;
        margin: 0;
        font-weight: normal;

        i {
            color: #fff !important;
        }
    }

}