.fm-grid {
    display: grid;

    // landing page 2 cols grid
    &--landing {
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;

        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
        }
    }
}
