.fm-section {
    display: flex;
    align-items: center;

    &--full-height {
        min-height: calc(100vh - 100px); // remove header
    }

    &--sticky {
        position: sticky;
        background-color: #fff;
        z-index: 2;

        &--top {
            top: 72px;
            border-bottom: 1px solid #ddd;
        }

        &--bottom {
            bottom: 0;
            border-top: 1px solid #ddd;
        }
    }

    &--scrollable {
        position: relative;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        align-items: center;

        .item {
            display: inline-block;
            margin-right: 16px;
        }

        &-snap-scroll {
            scroll-snap-type: x mandatory;

            .item {
                scroll-snap-align: start;
                scroll-snap-stop: always;
            }
        }

        &--no-gap {
            .item {
                margin: 0;
            }
        }
    }

    &__fixed-end {
        position: sticky;
        right: 16px;
        scroll-snap-align: start;
    }

    &--center {
        display: grid;
        place-items: center;
    }

    &__centered {
        display: block;
    }

    &--bottom {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &--shade {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(0,0,0,0) 100%);
    }

    &--mag {
        display: block;

        .fm-section__img {
            aspect-ratio: 1/1.414;
            width: 96px;
        }

        @media screen and (min-width: 700px) {
            display: flex;

            .fm-section__img {
                min-width: 140px;
            }

            .fm-section__desc {
                margin-left: 32px;
            }
        }
    }
}