.fm-section {
    display: flex;
    align-items: center;

    &--full-height {
        min-height: calc(100vh - 100px); // remove header
    }

    &--scrollable {
        position: relative;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        align-items: center;

        .item {
            display: inline-block;
            margin-right: 16px;
        }
    }

    &--center {
        position: relative;

        .fm-section__centered-item {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__centered {
        display: block;
    }

    &--bottom {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &--shade {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(0,0,0,0) 100%);
    }

    &--mag {
        display: block;

        .fm-section__img {
            aspect-ratio: 1/1.414;
            width: 96px;
        }

        @media screen and (min-width: 700px) {
            display: flex;

            .fm-section__img {
                min-width: 140px;
            }

            .fm-section__desc {
                margin-left: 32px;
            }
        }
    }
}