h1, h2, h3, h4, h5, h6, p {
    color: #212121;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -2px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1.5px;
}

h3 {
    letter-spacing: -1px;
}

p {
    letter-spacing: -0.5pt;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.fm-link {
    text-decoration: none;
    color: inherit !important;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px dotted #999;
        text-decoration: none !important;
    }

    &--white {
        color: #fff !important;

        &:hover {
            border-color: #fff;
        }
    }
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    user-select: none;
    vertical-align: -25%;
}

.material-icons, .md-icon-font {
    font-family: 'Material Icons Sharp';
}

.fm-markdown .toastui-editor-contents,
.fm-markdown {
    font-family: 'Inter', Arial, Helvetica, sans-serif;

    @for $i from 1 through 6 {
        h#{$i} {
            margin-top: 32px;
            padding-bottom: 16px;
            border-bottom: 1px solid #ddd;
        }
    }
    h1 {
        font-size: 28px;
        line-height: 28px;
        letter-spacing: -1.5px;
    }
    h2 {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -1px;
    }
    h3 {
        font-size: 18px;
        line-height: 18px;
    }

    p, ul, li, blockquote {
        font-size: 18px;
        line-height: 22px;
        color: #333;
        overflow-wrap: break-word;
    }

    blockquote {
        background-color: rgba(150, 150, 150, 0.1);
        margin: 0;
        padding: 16px;
        padding-left: 48px;
        border-left: 2px solid grey;
    }

    img {
        width: 100%;
        height: auto;

        &+p {
            font-size: 12px;
            margin-top: 0;
            padding-bottom: 8px;
            color: #999;
            border-bottom: 1px solid rgba(150, 150, 150, 0.2);
        }
    }

    &--commentable {
        p {
            position: relative;

            .comment-button {
                position: absolute;
                top: calc(50% - 24px);
                right: 0;
                transform: scale(0);
                transition: transform 150ms cubic-bezier(.42,1.34,.7,1);
            }

            &:hover {
                .comment-button {
                    transform: scale(1);
                }
            }
        }
    }
}